.hide {
	display: none;
}
.show {
	display: block;
}
.top-small-banner {
	background-color: #a5dbf3;
	padding: 19px 0px;
}
.top-small-banner .banner-text h1 {
	font-weight: 400;
}
.account {
	padding: 50px 0px 50px;
}
.account .left-side {
	border: 1px solid #cccccc6b;
	height: 100%;
}
.left-side .top-heading {
	padding: 8px 0px 8px 35px;
	border-bottom: 1px solid #d2d2d2;
}
.left-side .top-heading h3 {
	color: #1b68ac;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	margin: 0;
}
/* tabs controller css */
.all-tabs-controller {
	padding: 30px 0px 50px 0px;
}
.account-start .left-side ul {
	padding-left: 0px;
}
.account-start .left-side .nav-item {
	list-style-type: none;
	padding: 4px 0px;
}
.account-start .left-side .nav-item a {
	color: #000000;
	font-size: 18px;
	font-family: "OpenSans-Bold";
}

/* Tabs Navs Css Start Here */
.account-start .left-side ul li.forInnerItems {
	position: relative;
}
.account-start .left-side ul .forInnerItems ul.inner-list li:first-child {
	border-top: 1px solid #fff;
}
.account-start .left-side ul li.forInnerItems button.showBtn {
	border: 0;
	background: transparent;
	box-shadow: none;
	outline: none;
	font-size: 18px;
	font-family: "OpenSans-Bold";
	color: #fff;
	border-bottom: 0;
	width: 100%;
	padding-bottom: 5px;
	text-align: left;
	padding-left: 18px;
}
.account .left-side ul li a {
	margin: 0 45px;
}
.account-start .left-side ul li.nav-item {
	background: #1b68ac;
	margin: 0 25px 10px;
	padding: 8px 0px;
}
.account-start .left-side ul li.forInnerItems {
	position: relative;
	padding-bottom: 3px;
}
.account-start .left-side ul .forInnerItems ul.inner-list li {
	padding: 5px 0 5px 15px;
	margin: 0;
	position: relative;
	border-bottom: 1px solid #ddd;
}
.account-start .left-side ul .forInnerItems ul.inner-list li:last-child {
	border: 0;
	padding-bottom: 0;
}
.account-start .left-side ul .forInnerItems ul.inner-list li a {
	font-size: 15px;
}
.account-start .left-side ul .forInnerItems ul.inner-list li:before {
	content: "";
	background: #fff;
	width: 5px;
	height: 5px;
	position: absolute;
	left: 20px;
	top: 15px;
	border-radius: 50%;
}
.account-start .left-side ul li.nav-item a {
	margin: 0 0;
	padding: 10px 20px;
}
.account-start .left-side ul li.nav-item a {
	color: #fff;
	text-decoration: none;
}
/* Tabs Navs Css End Here */

/* First Tab Css Start Here */
.account-wrapper .title {
	padding-bottom: 20px;
}
.account-wrapper .title h4 {
	font-size: 22px;
	color: #000000;
	font-family: "Poppins";
	font-weight: 700;
}
.account-wrapper .title h4 {
	margin: 0;
}
.account-wrapper .form-group label {
	font-size: 15px;
	color: #000000;
	font-family: "OpenSans-Medium";
}
.account-wrapper .form-group .form-control {
	border: 0;
	padding: 0;
	outline: none;
	color: #000;
	font-family: "OpenSans-Medium";
	background: transparent;
	box-shadow: none;
}
.account-wrapper .form-group {
	margin-bottom: 50px;
}
.account-wrapper .form-group .input-group button {
	border: 0;
	background: transparent;
	font-size: 20px;
	color: #f59406;
	font-family: "OpenSans-Medium";
	outline: none;
	box-shadow: none;
	cursor: pointer;
}
.account-wrapper .button-group button.btn {
	background: #f59406;
	border-radius: 0;
	padding: 8px 25px;
	font-family: "OpenSans-Medium";
	color: #fff;
}
.account-start .left-side ul li.forInnerItems:hover ul.inner-list {
	display: block;
}
.account-start .left-side ul li.forInnerItems ul.inner-list {
	display: none;
	position: absolute;
	width: 100%;
	top: 44px;
}
/* Past Session Css End Here */
.session-wrapper table.table th {
	border: 0;
}
.session-wrapper table.table td {
	border: 0;
}
.session-wrapper table.table tbody tr {
	border: 1px solid #ddd;
}
.session-wrapper table.table th {
	border: 0;
	padding: 10px 15px 20px;
	font-size: 14px;
}
.session-wrapper table.table tbody tr td {
	padding: 12px 20px;
	font-size: 13px;
	vertical-align: middle;
}
.session-wrapper .title {
	padding-bottom: 20px;
}
.session-wrapper .title h4 {
	color: #000000;
	font-family: "Poppins";
	font-weight: 600;
	font-size: 22px;
}
.session-wrapper table.table tbody tr button.btn {
	background: #e90619;
	font-size: 15px;
	border-radius: 0;
	color: #fff;
	padding: 6px 15px;
}
/* Past Session Css Start Here */


/* Saved Cards Css */
.savedcard-wrapper .heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}
.savedcard-wrapper .heading h4 {
	font-family: "Poppins";
	color: #000000;
	font-size: 22px;
	font-weight: 700;
}
.savedcard-wrapper .heading button.btn.upload-savedcard-button {
	background: #f59406;
	border-radius: 0;
	font-size: 16px;
	color: #fff;
	font-family: "OpenSans-Medium";
	padding: 6px 30px;
}
.savedcard-wrapper table.table thead th {
	border: 0;
	padding: 10px 15px 20px;
}
.savedcard-wrapper table.table tbody tr {
	border: 1px solid #ddd;
}
.savedcard-wrapper table.table tbody td {
	border: 0;
	vertical-align: middle;
}
.savedcard-wrapper table.table td.thumb {
	border-right: 1px solid #ddd;
	width: 15%;
}
.savedcard-wrapper table.table td.thumb img.img-fluid {
	width: 60px;
}
.savedcard-wrapper table.table tbody td.Name p.Docname {
	margin: 0 0 2px 0;
	font-family: "poppins";
}
.savedcard-wrapper table.table tbody td.Name .button-group a.lnk {
	color: #1b68ac;
}
.savedcard-wrapper table.table tbody td.Name {
	border-right: 1px solid #ddd;
}
.savedcard-wrapper table.table tbody td.Size {
	border-right: 1px solid #ddd;
}
/* /Saved Cards Css */


/* Upcoming Css Start Here */
.document-wrapper .heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}
.document-wrapper .heading h4 {
	font-family: "Poppins";
	color: #000000;
	font-size: 22px;
	font-weight: 700;
}
.document-wrapper .heading button.btn.upload-document-button {
	background: #f59406;
	border-radius: 0;
	font-size: 16px;
	color: #fff;
	font-family: "OpenSans-Medium";
	padding: 6px 30px;
}
.document-wrapper table.table thead th {
	border: 0;
	padding: 10px 15px 20px;
}
.document-wrapper table.table tbody tr {
	border: 1px solid #ddd;
}
.document-wrapper table.table tbody td {
	border: 0;
	vertical-align: middle;
}
.document-wrapper table.table td.thumb {
	border-right: 1px solid #ddd;
	width: 15%;
}
.document-wrapper table.table td.thumb img.img-fluid {
	width: 60px;
}
/* Upcoming Css End Here */

/* Document Css Start Here */
.document-wrapper table.table tbody td.Name p.Docname {
	margin: 0 0 2px 0;
	font-family: "poppins";
}
.document-wrapper table.table tbody td.Name .button-group a.lnk {
	color: #1b68ac;
}
.document-wrapper table.table tbody td.Name {
	border-right: 1px solid #ddd;
}
.document-wrapper table.table tbody td.Size {
	border-right: 1px solid #ddd;
}
.upload-document .heading {
	padding-bottom: 15px;
}
.upload-document .heading h4 {
	font-family: "Poppins";
	color: #000;
	font-size: 22px;
	font-weight: 700;
}
.upload-document .share-document {
	margin-bottom: 30px;
	max-width: 40%;
}
.upload-document .form-control {
	border: 1px solid #dcdcdc;
	padding: 11px 15px;
	font-size: 14px;
}
.upload-document .forUpload label {
	border: 1px dashed #dcdcdc;
	width: 100%;
	padding: 50px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.upload-document .forUpload label p {
	margin-bottom: 0;
}
.upload-document .forUpload label i {
	color: #00000082;
}
.upload-document .forUpload label p {
	font-size: 14px;
	color: #0000008f;
	font-family: "Poppins";
}
.upload-document .forUpload label p span {
	color: #1b68ac;
	font-weight: 500;
	margin-left: 9px;
}
.upload-document .button-group button.btn {
	background: #f59406;
	border-radius: 0;
	font-size: 16px;
	color: #fff;
	font-family: "OpenSans-Medium";
	padding: 7px 30px;
}
/* Document Css End Here */

/* Change Pass Css Start Here */
.change-password-wrapper {
	max-width: 50%;
}
.change-password-wrapper .heading {
	padding-bottom: 15px;
}
.change-password-wrapper .form-group .form-control {
	border: 1px solid #dcdcdc;
	padding: 11px 15px;
	font-size: 14px;
}
.change-password-wrapper .button-group .btn {
	background: #f59406;
	border-radius: 0;
	font-size: 16px;
	color: #fff;
	font-family: "OpenSans-Medium";
	padding: 7px 45px;
	margin-top: 10px;
}
.change-password-wrapper .heading h4 {
	font-family: "Poppins";
	font-weight: 700;
	font-size: 22px;
	color: #000;
}
/* Change Pass Css End Here */

/* Eidt Profile Css Start Here */
.edit-profile-wrapper .heading h4 {
	color: #000;
	font-family: "Poppins";
	font-weight: 700;
	font-size: 22px;
}
.edit-profile-wrapper .heading {
	padding-bottom: 20px;
}
.edit-profile-wrapper .form-group .form-control {
	border: 1px solid #dcdcdc;
	padding: 11px 15px;
	font-size: 14px;
}
.edit-profile-wrapper .button-group .btn {
	background: #f59406;
	border-radius: 0;
	padding: 8px 25px;
	font-family: "OpenSans-Medium";
	color: #fff;
	margin-top: 10px;
}
/* Eidt Profile Css End Here */
