a:hover {
	text-decoration: none;
}
.top-small-banner {
	background-color: #a5dbf3;
	padding: 19px 0px;
}
.form-section {
	padding: 30px 0px;
}
.form-start {
	border-radius: 12px;
}
.form-start .form-heading {
	background-color: #1b68ac;
	padding: 12px 35px;
	border-top-left-radius: 15px;
	display: flex;
	justify-content: space-between;
	border-top-right-radius: 15px;
}
.form-start .form-heading span {
	color: #ffffff;
	font-size: 18px;
	font-family: volkr;
	display: block;
}
.form-start .form-heading span.right-text {
	color: #ffffff;
	font-size: 14px;
	font-family: "OpenSans-Regular";
	display: block;
}
.form-start .form-heading span.right-text a {
	font-family: "OpenSans-Bold";
	color: #ffffff;
	font-size: 14px;
}
.form-start .form-box {
	padding: 10px 35px 65px 35px;
	border-top: 0px solid #d2d2d2;
	border: 1px solid #d2d2d2;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.form-box .form-row {
	margin: 18px 0px;
	display: flex;
	justify-content: space-between;
}
.form-box .form-row .single-input {
	width: 48.5%;
}
.form-box .form-row .form-control {
	width: 100%;
	padding: 12px 12px;
	color: #0000007d;
	font-size: 13px;
	font-family: "Poppins", sans-serif;
	border: 1px solid #dcdcdc;
	outline: none;
}
.form-box .form-row .single-input button {
	width: 100%;
	border: 2px solid transparent;
	background-color: #f49507;
	padding: 17px 0px;
	color: #ffffff;
	font-size: 15px;
	font-family: "Nexa-Regular";
	transition: 1s all;
	cursor: pointer;
}
.form-box .form-row .single-input button:hover {
	background-color: #ffffff;
	color: #f49507;
	border: 2px solid #f49507;
	box-shadow: 0px 0px 0px 4px pink;
}
.form-start .form-box p {
	color: #636060;
	font-size: 14px;
	font-family: "OpenSans-Light";
}
.form-start .form-box p a {
	color: #f59406;
	font-family: "OpenSans-Regular";
	font-size: 14px;
}
.for-remeber-and-forgot-password {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* CUSTOM CHECKBOX STYLING */
.for-remeber-and-forgot-password .remember-me input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}
.for-remeber-and-forgot-password .remember-me label {
	position: relative;
	cursor: pointer;
}
.for-remeber-and-forgot-password .remember-me label:before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid #636060;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
		inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 8px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
	margin-right: 15px;
}
.for-remeber-and-forgot-password .remember-me label {
	color: #636060;
	font-size: 11px;
	font-family: "OpenSans-Regular";
}
.for-remeber-and-forgot-password .remember-me input:checked + label:after {
	content: "";
	display: block;
	position: absolute;
	top: 1px;
	left: 6.5px;
	width: 7px;
	height: 14px;
	border: solid #f59406;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
.program-sec {
	padding: 50px 0 60px;
}
/* Custom Checkbox End Here */

.forgot-password a {
	color: #0e3a20;
	font-size: 14px;
	font-family: "OpenSans-Medium";
}
.forgot-pass p {
	font-size: 15px;
	color: #0e3a20 !important;
	font-weight: 600;
}
.forgot-pass .single-input {
	margin: 0px auto 0 0 !important;
}
.forgot-pass .form-row.mt-5 {
	margin-top: 20px !important;
}
.form-start .form-box p.resend {
	max-width: 60%;
	color: #000 !important;
}
.form-start .form-box p.resend a {
	color: #1b68ac;
	margin-left: 10px;
}
.top-small-banner h1 {
	font-weight: 400 !important;
}
.change-pass .single-input {
	margin: 0px auto 0 0 !important;
}

/* Book Now Css Start Here */
.form-section .book_now_form .schedule-stuff {
	padding-top: 20px;
}
.form-section .book_now_form .schedule-stuff .all-schedule {
	height: 180px;
	overflow-y: scroll;
	padding-left: 10px;
	padding-right: 50px;
}
.form-section .book_now_form .schedule-stuff .heading {
	padding-bottom: 15px;
}
.form-section .book_now_form .form-control {
	width: 100%;
	padding: 5px 12px;
	color: #0000007d;
	font-size: 13px;
	font-family: "Poppins", sans-serif;
	border: 1px solid #dcdcdc;
	outline: none;
	height: 45px !important;
	box-shadow: none;
	background-image: url("../img/caret.png");
	background-repeat: no-repeat;
	background-position: center right 20px;
}
.form-section .book_now_form .form-control {
	-webkit-appearance: none;
}
.form-section .book_now_form .schedule-stuff .heading h3 {
	font-size: 20px;
	color: #000000;
	font-family: "volkb";
}
.form-section .book_now_form .schedule-stuff label.schedule_container {
	display: block;
}
.form-section .book_now_form .schedule-stuff {
	padding-top: 20px;
}
.schedule-stuff label.schedule_container .schedule-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 35px;
}
.form-section .book_now_form .schedule-stuff .all-schedule::-webkit-scrollbar {
	width: 0.2em;
}
.form-section
	.book_now_form
	.schedule-stuff
	.all-schedule::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px #d2d2d2;
}
.form-section
	.book_now_form
	.schedule-stuff
	.all-schedule::-webkit-scrollbar-thumb {
	background-color: #1b68ac;
}
.schedule-stuff label.schedule_container .schedule-box .date {
	display: flex;
	position: relative;
}
.schedule-stuff label.schedule_container .schedule-box .date span.dot {
	width: 13px;
	height: 13px;
	background: #0000;
	position: absolute;
	left: 0;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0px 0px 0px 2px #4096d9;
	top: 6px;
}
.schedule-stuff
	label.schedule_container
	.schedule-box
	.date
	span.schedule-date {
	margin-left: 50px;
	background: #4096d9;
	color: #fff;
	font-family: "OpenSans-Medium";
	padding: 4px 10px;
	font-size: 14px;
	border-radius: 5px;
}
.schedule-stuff
	label.schedule_container
	input:checked
	~ span.checkmark
	.date
	span.dot {
	background: #4096d9;
}
.schedule-stuff label.schedule_container .schedule-box .time span {
	font-family: "OpenSans-Medium";
}
.schedule-stuff label.schedule_container .schedule-box .location {
	text-decoration: underline;
	color: #1c68ad;
}
.schedule-stuff label.schedule_container .schedule-box .location span {
	color: #1c68ad;
	font-family: "OpenSans-Medium";
}
.schedule-stuff label.schedule_container .schedule-box .location span i {
	margin-right: 5px;
}
form.book_now_form .button-group {
	margin-top: 60px;
	text-align: end;
}
form.book_now_form .button-group button.btn {
	width: 50%;
	border: 2px solid transparent;
	background-color: #f49507;
	padding: 14px 0px;
	color: #ffffff;
	font-size: 15px;
	font-family: "Nexa-Regular";
	transition: 1s all;
	cursor: pointer;
}
/* Book Now Css End Here */

/* Payment Css Start Here */
.payment-sec .pymnt-box .form-heading {
	border-radius: 0;
}
.payment-sec .program-detail .form-box {
	padding: 40px 30px;
	text-align: center;
}
.payment-sec .program-detail .form-box h3.title {
	color: #000000;
	margin: 0;
	line-height: 50px;
}
.payment-sec .program-detail .form-box .button-group {
	margin-top: 40px;
}
.payment-sec .program-detail .form-box .button-group button.btn {
	background: #f49507;
	color: #fff;
	font-family: "Nexa-Regular";
	border-radius: 0;
	padding: 14px 50px;
	width: 35%;
}
.payment-sec .program-detail .form-box .discount-details p {
	font-family: "OpenSans-Medium";
	color: #000;
	font-weight: 600;
	margin: 5px 0 0;
}
.payment-sec .program-detail .form-box .discount-details .off-div {
	margin: 25px 0;
}
.payment-sec .program-detail .form-box .discount-details .details {
	display: flex;
	justify-content: space-between;
	max-width: 70%;
	margin: 0px auto;
}
.payment-sec .program-detail .form-box .discount-details .details span.date {
	background: #4096d9;
	font-size: 14px;
	color: #fff;
	line-height: 24px;
	padding: 2px 15px;
	border-radius: 4px;
}
.payment-sec .program-detail .form-box .discount-details .details span.time {
	color: #000;
}
.payment-sec
	.program-detail
	.form-box
	.discount-details
	.details
	span.location {
	text-decoration: underline;
	color: #1c68ad;
}
.payment-sec
	.program-detail
	.form-box
	.discount-details
	.details
	span.location
	i {
	margin-right: 10px;
}
.payment-sec .program-detail .form-box .discount-details .off-div h3 {
	font-size: 40px;
	margin: 0;
	color: #f50000;
	font-family: "OpenSans-Bold";
}
.payment-sec .program-detail .form-box .discount-details .off-div h3 span {
	font-family: "OpenSans-Regular";
}
.pymnt-box .card-type {
	display: flex;
}
.pymnt-box .card-type input:checked ~ span.checkmark figure {
	box-shadow: 0px 0px 0px 1px #c23127;
}
.pymnt-box .card-type span.checkmark figure {
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-right: 10px;
	width: 75px;
	overflow: hidden;
}
.pymnt-box .payment-details .form-group {
	margin-bottom: 40px;
}
.pymnt-box .payment-details {
	padding-top: 30px;
}
.pymnt-box .payment-details .form-control {
	width: 100%;
	padding: 12px 12px;
	color: #0000007d;
	font-size: 13px;
	font-family: "Poppins", sans-serif;
	border: 1px solid #dcdcdc;
	outline: none;
}
.pymnt-box .button-group {
	margin-top: 40px;
	max-width: 50%;
}
.pymnt-box .button-group button.btn {
	width: 100%;
	border: 2px solid transparent;
	background-color: #f49507;
	padding: 14px 0px;
	color: #ffffff;
	font-size: 15px;
	font-family: "Nexa-Regular";
	transition: 1s all;
	cursor: pointer;
	border-radius: 0;
}
/* Payment Css End Here */

/* Thank You Modal Css Start Here */
#thankYouModal {
	background: #000000a3;
}
#thankYouModal .modal-dialog {
	max-width: 50%;
}
#thankYouModal .modal-header {
	background: #1b68ac;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-radius: 7px 7px 0px 0px;
	padding: 6px 30px;
	position: relative;
}
#thankYouModal .modal-content {
	border-radius: 10px 10px 0px 0px;
	border: 0;
}
#thankYouModal .modal-header h4.title {
	margin: 0;
	color: #ffffff;
	font-size: 20px;
}
#thankYouModal .modal-header svg {
	position: absolute;
	right: 0px;
	top: 4px;
}
#thankYouModal .modal-header svg {
	position: absolute;
	right: 0px;
	top: 4px;
	cursor: pointer;
}
#thankYouModal .modal-body {
	padding: 50px 50px 100px;
	text-align: center;
}
#thankYouModal .modal-body .title-wrapper h3 {
	color: #f59406;
	font-family: "OpenSans-Bold";
	font-size: 50px;
	line-height: 50px;
}
#thankYouModal .modal-body .title-wrapper p {
	font-size: 19px;
	font-family: "OpenSans-Medium";
}
#thankYouModal .modal-body .programs {
	padding-top: 10px;
}
#thankYouModal .modal-body .programs h3 {
	color: #000000;
}
#thankYouModal .modal-body .programs h4 {
	color: #000000;
	margin: 0;
}
#thankYouModal .modal-body .programs b {
	line-height: 40px;
	font-size: 17px;
}
#thankYouModal .modal-body .programs p {
	color: #000000;
	font-family: "OpenSans-Bold";
	font-size: 14px;
	margin: 5px 0 0 0;
}
/* Thank You Modal Css End here */
